[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Requests = "*"
Pandas = "*"
SQLAlchemy = "*"
PyMySQL = "*"
Google-cloud-storage = "*"
Loguru = "*"
nba_api = "*"
plotly = "*"
chart-studio = "*"
emoji = "*"
wikipedia-api = "*"
notifiers = "*"
IMDbPY = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
