[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Requests = "*"
Pandas = "*"
SQLAlchemy = "*"
Psycopg2-Binary = "*"
BS4 = "*"
Gunicorn = "*"
google-cloud-storage = "*"
SimpleJSON = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
