[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Requests = "*"
Pandas = "*"
SQLAlchemy = "*"
PyMySQL = "*"
BS4 = "*"
Google-cloud-storage = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
