attrs==20.2.0
boto==2.49.0
botocore==1.18.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
ddtrace==0.42.0
emoji==0.6.0
google-api-core==1.22.2
google-auth==1.21.3
google-cloud-core==1.4.1
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
idna==2.10
IMDbPY==2020.9.25
iniconfig==1.0.1
intervaltree==3.1.0
jmespath==0.10.0
jsonschema==3.2.0
loguru==0.5.3
lxml==4.5.2
more-itertools==8.5.0
nba-api==1.1.9
notifiers==1.2.1
numpy==1.19.2
packaging==20.4
pandas==1.1.2
plotly==4.10.0
pluggy==0.13.1
praw==7.1.0
prawcore==1.5.0
protobuf==3.13.0
psutil==5.7.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyMySQL==0.10.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
retrying==1.3.3
rfc3987==1.3.8
rsa==4.6
simplejson==3.17.2
six==1.15.0
sortedcontainers==2.2.2
SQLAlchemy==1.3.19
tenacity==6.2.0
toml==0.10.1
update-checker==0.18.0
urllib3==1.25.10
uWSGI==2.0.19.1
websocket-client==0.57.0
Wikipedia-API==0.5.4
