beautifulsoup4==4.8.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.0
google-resumable-media==0.3.3
googleapis-common-protos==1.6.0
gunicorn==19.9.0
idna==2.8
nba-py==0.1.1a2
numpy==1.17.1
pandas==0.25.1
protobuf==3.9.1
psycopg2-binary==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
rsa==4.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.3
SQLAlchemy==1.3.8
urllib3==1.25.3
